use std::sync::Arc;

use crate::mapper::get_datasource;
use akita::prelude::Akita;
use snack_oauth::{Mapper, MicroFrameworkError, PageRequest};
use crate::domain::{ {{ entity }}, {{ entity }}Query, {{ entity }}Response};


///
/// {{ table.comment }} Mapper服务
///
/// @author {{ author }}
/// @since {{ date }}
///


pub struct {{ entity }}Mapper;

impl Mapper<{{ entity }}, {{ entity }}Response, PageRequest<{{ entity }}Query>> for {{ entity }}Mapper {
    fn get_akita(&self) -> Result<Arc<Akita>, akita::prelude::AkitaError> {
        get_datasource()
    }
}

impl {{ entity }}Mapper {
    pub fn new() -> Self {
        Self {

        }
    }
}