use serde::{Deserialize, Serialize};
use crate::domain::{{ entity }};

///
/// {{ table.comment }} 请求
///
/// @author {{ author }}
/// @since {{ date }}
///
#[allow(unused)]
#[derive(Clone, Debug, Serialize, Deserialize, Default)]
#[serde(rename_all = "camelCase")]
pub struct {{ entity }}Request {
{#- ----------  BEGIN 字段循环遍历  ---------- -#}
{%- for field in table.fields %}
    {%- if field.comment != "" %}
    /// {{ field.comment }}
    {% else %}
    {% endif -%}
	pub {{field.propertyName}}: Option<{{field.columnType}}>,
{%- endfor %}
{#- ----------  END 字段循环遍历  ---------- #}
}

#[derive(Clone, Debug, Serialize, Deserialize, Default)]
#[serde(rename_all = "camelCase")]
pub struct {{ entity }}Query {

}

impl From<{{ entity }}Request> for {{ entity }} {
    fn from(v: {{ entity }}Request) -> Self {
        Self {
        {#- ----------  BEGIN 字段循环遍历  ---------- -#}
        {%- for field in table.fields %}
            {{field.propertyName}}: v.{{field.propertyName}},
        {%- endfor %}
        {#- ----------  END 字段循环遍历  ---------- #}
        }
    }
}

